/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/** {*/
/*-webkit-tap-highlight-color: rgba(0,0,0,0); !* make transparent link selection, adjust last value opacity 0 to 1.0 *!*/
/*}*/

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#c62828   ;

    /*background-image: linear-gradient(RGB(87.8,87.8,87.8),RGB(77.6,15.7,15.7));*/
    background-image: linear-gradient(top, #750b11 0%, #c62828    51%);
    background-image:-moz-linear-gradient(top, #750b11 0%, #c62828    51%);
    background-image:-webkit-linear-gradient(top, #750b11 0%, #c62828    51%);
    background-image:-o-linear-gradient(top, #750b11 0%, #c62828    51%);
    background-image:-ms-linear-gradient(top, #750b11 0%, #c62828    51%);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #750b11),color-stop(0.51, #c62828));

}

body{
    margin: auto;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
    height: 100vh;
    min-width: 340px;
}

h1 {
    font-size:24px;
    font-weight:bold;
    margin:auto;
    overflow:visible;
    padding-bottom:10px;
    text-align:center;
}

h2 {
    font-size:20px;
    overflow:visible;
    padding:10px;
    text-align:center;
    margin: 0;
}
h3 {
    font-size:16px;
    overflow:visible;
    padding-top:10px;
    text-align:center;
    margin: 0;
}
.pl-10{
    padding-left: 10px;
}
.pl-15{
    padding-left: 15px;
}
.pr-10{
    padding-right: 10px;
}
.pr-15{
    padding-right: 15px;
}
.pb-5{
    padding-bottom: 5px;
}
.pb-10{
    padding-bottom: 10px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.ml-10{
    margin-left: 10px;
}
#rolld20Dropdown, #rolld12Dropdown, #rolld10Dropdown, #rolld08Dropdown, #rolld06Dropdown, #rolld04Dropdown{
   width: 70%;
}
#input20, #input12,#input10, #input08 ,#input06, #input04 {
    width: 95%;
    float: left;
}

.smaller{
    width: 90%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.dropdown-content{
    width: max-content !important;
    height:auto !important;
}
.btn-small{
    width: 250px;
    text-align: center;
    background-color: grey;
    border: 1px solid #000;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(26,26,26,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(26,26,26,1);
    box-shadow: 5px 5px 5px 0px rgba(26,26,26,1);

}

.justify-text{
    text-align: justify;
}

#navHomeScreen{
    font-size:12px;
    height:100%;
    text-transform:uppercase;
    width:100%;
}
@media screen and (min-width:350px) {
    .container{
        margin-top: 20px;
    }


}

@media screen and (min-width:600px) {

}

@media screen and (min-width:8000px) {

}

@media screen and (min-width:1000px) {

}

@media screen and (min-width:1200px) {

}